main{
    h1{
        text-align: center;
        padding: 30px;
    }
    background-color: rgb(39, 40, 45);
    color: white;
    .container{
        width: 50%;
        div{
            margin: 20px;
        }
    }

}