.box{
    width: 100%;
    height:500px;
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .box-2{
        display: flex;
        position: relative;
        width: 80%;
        margin: 0 auto;
        div{
            margin-left: 30px;
            p{
                color: white;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            ul{
                li{
                    color: gray;
                    font-size: 15px;
                    list-style-type: none;
                }
            }
        }
        .position{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}