.bg{
    background-color: rgb(39, 40, 45);
    
    .wid{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 0;
        position: relative;

        .cardDc{
            width: calc(100% / 6);
            margin-bottom: 40px;
            img{
                width: 200px;
                height: 200px;
            }
            .altezza{
                min-height: 50px;
                h3{
                    color: white;
                    font-size: 15px;
                    margin-right: 40px;
                    padding-top: 10px;
                   
                }
            }
            span{
                color: white;
            }
        
            .btn-delete{
                //position: relative;
                //margin-top: 25px;
            }
        
        }

        .bottone{
            position: absolute;
            padding-left: 30px;
            padding-right: 30px;
            top: -20px;
            left: 0;
            text-transform: uppercase;
        }
    }
    .buttonLoad{
        display: flex;
        justify-content: center;   
        button{
             margin-bottom: 50px;
             padding: 10px 30px;
        }
    }
}